<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 col-sm-12">
      <h1 class="font-weight-bold mb-4 serif-font">Broadcasting my expertise worldwide</h1>
      <p class="lead mb-4">I'm Daniel Vera, and I'm excited to delve into the world of technology with you. Join me as I share insightful tricks, engaging posts, and valuable information.</p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/intro.svg">      
    </div>
  </div>
</div>